@import "tailwindcss";

@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Thin-iF6626350c96c3e.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Extralight-iF6626350c56af4.otf")
    format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Light-iF6626350c6db36.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Regular-iF6626350c83fdf.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Medium-iF6626350c78103.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Semibold-iF6626350c8d55c.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Bold-iF6626350c420cc.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Extrabold-iF6626350c4c856.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Blauer Nue";
  src: url("/fonts/Blauer-Nue-Heavy-iF6626350c62afa.otf") format("opentype");
  font-weight: 900;
}

@theme {
  --color-bg-primary: #010218;
  --color-nav-bg: rgba(1, 2, 24, 0.9);
  --color-accent: #484cff;
  --color-lavender: #d8b4fe;
  --color-gold: #fbbf24;
  --color-accent-hover: #3b5bdb;

  --font-sans: "Blauer Nue", "Plus Jakarta Sans", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  @apply bg-bg-primary text-white antialiased min-h-screen font-sans;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Custom UI Tokens */
.btn-premium-glow {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 170, 0, 1) !important;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-premium-glow::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 235, 195, 1) 0%,
    rgba(255, 170, 0, 1) 85%
  ) !important;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
  pointer-events: none;
}

.btn-premium-glow:hover::after {
  opacity: 1;
}

.btn-premium-glow:hover {
  transform: scale(1.02);
}
